<!doctype html>
<html ng-app="admin.webclient" xmlns:ng="http://angularjs.org" xml:lang="en" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Angular 1.4 admin client</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" href="styles/app.bc0a6dfe.css">
</head>

<body>

  <!-- Provide default header -->
  <div ui-view="header">

    <div ng-controller="HeaderMainController">

      <header class="navbar navbar-default navbar-main navbar-static-top" role="banner">

        <div class="container" ng-init="collapsed = true">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="collapsed = !collapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a ui-sref="main.landing" class="navbar-brand logo" href="javascript:void(0)">Admin client</a>
          </div>

          <nav class="collapse navbar-collapse" collapse="collapsed" role="navigation">

            <ul ng-cloak class="nav navbar-nav navbar-left">

              <li ui-sref-active="active">
                <a ui-sref="content_type.list">Content Types</a>
              </li>

              <li ng-if="contentTypes.length" dropdown class="dropdown" ui-sref-active="active">
                <a dropdown-toggle href="javascript:void(0)" class="dropdown-toggle" role="button" aria-haspopup="true">Content <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li ng-repeat="type in contentTypes">
                    <a ui-sref="content_model.list({key:type.key})" ui-sref-opts="{inherit:false, reload:true}">{{type.name}}</a>
                  </li>
                </ul>
              </li>

            </ul>

            <ul ng-cloak ng-if="userData.token" class="nav navbar-nav navbar-right">
              <li dropdown class="dropdown">
                <a dropdown-toggle href="javascript:void(0)" class="dropdown-toggle" role="button" aria-haspopup="true">{{userData.email}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a ui-sref="auth.account">Account</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
                </ul>
              </li>
            </ul>
          </nav>

        </div>
      </header>

    </div>
  </div>

  <div ui-view="body" class="body-view"></div>

  <script src="scripts/vendor.0a9a8c28.js"></script>

  <script src="scripts/tpls.7dc7a5e8.js"></script>

  <script src="scripts/app.09458f56.js"></script>

</body>
</html>