<div class="page-head">
  <div class="container">
    <div class="title">
      <h1>Content types</h1>
    </div>
    <div class="actions">
      <a ui-sref="^.create" class="btn btn-default btn-sm">Create new</a>
    </div>
  </div>
</div>

<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Key</th>
      <th>Name</th>
      <th>Properties</th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in items track by $index">
        <td>
          <a ui-sref="^.show({id:item.key})">{{ item.key }}</a>
        </td>
        <td>{{ item.name }}</td>
        <td>
          <span class="label label-default" ng-repeat="(propName, propDescription) in item.schema.properties">{{propName}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
