<div class="page-head">
  <div class="container">
    <div class="title">
      <h1>Content types</h1>
    </div>
    <div class="actions">
      <a ui-sref="^.create" class="btn btn-default btn-sm">Create new</a>
    </div>
  </div>
</div>

<div class="container">

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Key</th>
      <th>Name</th>
      <th>Properties</th>
    </tr>
    </thead>
    <tbody>

      <tr ng-repeat="item in items">
        <td>
          <a ui-sref="^.show({id:item.id})">{{ item.key }}</a>
        </td>
        <td>{{ item.name }}</td>
        <td>
          <span class="label label-default" ng-repeat="(propName, propDescription) in item.schema.properties">{{propName}}</span>
        </td>
      </tr>

      <tr class="danger" ng-repeat="key in unhandledKeys">
        <td>N/A</td>
        <td>{{ key }}</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>

    </tbody>
  </table>

  <div ng-if="unhandledKeys.length">
    <hr class="hr-fat">
    <p class="alert alert-danger">Following keys do not have content types set up, although data is present</p>
    <span ng-repeat="k in unhandledKeys" class="badge">{{k}}</span>
  </div>

</div>
